@import var
@import components/all
@import sections/all

*
  box-sizing: border-box

html, body
  margin: 0
  min-height: 100vh
  background: linear-gradient(white, #ddd)


.jumbotron
  background: linear-gradient(130DEG, #666, white)
