<div ng-include="'views/components/navbar.html'"></div>
<div ng-include="'views/components/header.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        This is a demonstration of a register/authentication system using AngularJs, nodeJS, Express, PasportJS and MySQL. Once registered and logged in you will be redirected to your profile, where you can't actually do anything, this app only covers the authentication process.
      </div>
    </div>
  </div>
</div>
<div ng-include="'views/components/footer.html'"></div>
