<nav class="navbar navbar-inverse">
    <p class="navbar-text">&#9400;Loïc Pennequin 2017</p>
    <br>
    <h4 class="navbar-text">avatar images : </h4>
    <p class="navbar-text">Artist: <a href="http://www.iconarchive.com/artist/mattahan.html">Mattahan (Paul Davey) (Available for custom work)</a></p>
    <p class="navbar-text">Iconset Homepage: <a href="http://mattahan.deviantart.com/art/UltraBUUF-260792930"> http://mattahan.deviantart.com/art/UltraBUUF-260792930</a></p>
    <p class="navbar-text">License: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC Attribution-Noncommercial-Share Alike 4.0</a></p>
</nav>
