<div class="jumbotron text-center">
  <h1>{{appName}}</h1>
  <div class="title-text text-left">
    <span>This is a demonstration of a register/authentication system using AngularJs, nodeJS, Express, PassportJS and MySQL. Once registered and logged in you will be redirected to your profile, where you can't actually do anything (for now), this app only covers the authentication process. Later on this app wil feature some social media components like statuses, comments, friend list, and more.</span>
    <br>
    <a href="https://github.com/loicpennequin/node-auth" class="btn btn-primary"><i class="fa fa-arrow-circle-o-right" aria-hidden="true">View source code on GitHub</i>
    </a>
  </div>
</div>
